@font-face {
  font-family: "Young Serif";
  src: url("/assets/fonts/young-serif/YoungSerif-Regular.ttf");
}

@font-face {
  font-family: "Outfit";
  src: url("/assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  /* Colors */
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);

  /* Font Sizes */
  --font-size-prime: 0.875rem;
  --font-size-body: 1rem;
  --font-size-h1: 2.5rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.25rem;

  /* Font Families */
  --font-family-serif: "Young Serif", serif;
  --font-family-sans: "Outfit", sans-serif;

  /* Font Weights */
  --font-weight-400: 400;
  --font-weight-600: 600;
  --font-weight-700: 700;

  /* Spacing */
  --spacing-05: 0.5rem;
  --spacing-10: 1rem;
  --spacing-15: 1.5rem;
  --spacing-h1: 1.75rem;
  --spacing-20: 2rem;
  --spacing-25: 2.5rem;
  --spacing-30: 3rem;
  --spacing-35: 3.5rem;
  --spacing-40: 4rem;
  --spacing-45: 4.5rem;
  --spacing-50: 5rem;
  --spacing-55: 5.5rem;
  --spacing-075: 0.75rem;
  --spacing-80: 8rem;

  /* Layout */
  --lh-base: 1.6;
  --line-body: 1.4;
  --lh-heading: 1.1;
}

body {
  background-color: var(--stone-100);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-400);
  color: var(--stone-600);
  min-height: 100vh;
  line-height: var(--lh-body);
  padding: 0;
  margin: 0;
}

main {
  background-color: var(--white);
  max-width: none;
  margin: 0;
  min-height: 100vh;
}

article {
  padding: 0;
}

.recipe-img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 0;
}

hgroup {
  padding: var(--spacing-25) var(--spacing-20) var(--spacing-20);
}

h1 {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-400);
  color: var(--stone-900);
  line-height: var(--lh-heading);
  margin-bottom: var(--spacing-15);
}

h2 {
  font-size: var(--font-size-h2);
  font-family: var(--font-family-serif);
  font-weight: var(--font-weight-400);
  color: var(--brown-800);
  margin-bottom: var(--spacing-15);
  line-height: var(--lh-heading);
}

h3 {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-600);
  margin-bottom: var(--spacing-10);
  line-height: var(--lh-heading);
}

p {
  margin-bottom: 0;
  line-height: var(--line-body);
}

.recipe-preparation {
  background-color: var(--rose-50);
  padding: var(--spacing-15) var(--spacing-20);
  margin: 0 var(--spacing-20) var(--spacing-20);
  border-radius: var(--spacing-075);
}

.recipe-preparation h3 {
  color: var(--rose-800);
  margin-bottom: var(--spacing-10);
}

.recipe-preparation ul {
  list-style: none;
  margin: 0;
}

.recipe-preparation li {
  position: relative;
  padding-left: var(--spacing-20);
  padding-bottom: var(--spacing-05);
  line-height: var(--line-body);
}

.recipe-preparation li:last-child {
  padding-bottom: 0;
}

.recipe-preparation li::before {
  content: "•";
  position: absolute;
  left: var(--spacing-05);
  color: var(--rose-800);
  font-weight: var(--font-weight-700);
}

.recipe-ingredients {
  border-bottom: 0.063rem solid var(--stone-150);
  padding: 0 var(--spacing-20) var(--spacing-20);
  margin-bottom: var(--spacing-20);
}

.recipe-ingredients ul {
  list-style: none;
  margin: none;
}

.recipe-ingredients li {
  position: relative;
  padding-left: var(--spacing-20);
  padding-bottom: var(--spacing-05);
  line-height: var(--lh-body);
}

.recipe-ingredients li:last-child {
  padding-bottom: 0;
}

.recipe-ingredients li::before {
  content: "•";
  position: absolute;
  left: var(--spacing-05);
  color: var(--rose-800);
  font-weight: var(--font-weight-700);
}

.recipe-instructions {
  border-bottom: 0.063rem solid var(--stone-150);
  padding: 0 var(--spacing-20) var(--spacing-20);
  margin-bottom: var(--spacing-20);
}

.recipe-instructions ol {
  list-style: none;
  counter-reset: instruction-counter;
  margin: 0;
}

.recipe-instructions li {
  counter-increment: instruction-counter;
  position: relative;
  padding-left: var(--spacing-20);
  padding-bottom: var(--spacing-10);
  line-height: var(--line-body);
}

.recipe-instructions li:last-child {
  padding-bottom: 0;
}

.recipe-instructions li::before {
  content: counter(instruction-counter) ". ";
  position: absolute;
  left: 0;
  color: var(--rose-800);
  font-weight: var(--font-weight-700);
}

.nutritions {
  padding: 0 var(--spacing-20) var(--spacing-20);
}

.nutritions p {
  margin-bottom: var(--spacing-15);
  line-height: var(--line-body);
}

.nutrition-values {
  width: 100%;
  border-collapse: collapse;
  color: var(--stone-600);
}

.nutrition-values tbody tr:not(:last-child) {
  border-bottom: 0.063rem solid var(--stone-150);
}

.nutrition-values td {
  padding: var(--spacing-075) var(--spacing-20) var(--spacing-075) 0;
  vertical-align: middle;
  line-height: var(--line-body);
}

.nutrition-values td:first-child {
  padding-left: var(--spacing-20);
}

.nutrition-values td:last-child {
  color: var(--brown-800);
  font-weight: var(--font-weight-700);
  padding-right: 0;
}

footer {
  background-color: var(--white);
  padding: var(--spacing-10) var(--spacing-20);
}

.attribution {
  font-size: 0.689rem;
  text-align: center;
  line-height: var(--line-body);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Mobile: 375px and up */
@media (min-width: 375px) {
  main {
    max-width: 375px;
    margin: 0 auto;
  }

  h1 {
    font-size: var(--spacing-20);
  }

  hgroup p {
    font: var(--spacing-15);
  }
}

/* Desktop: 768px and up */
@media (min-width: 768px) {
  main {
    max-width: 736px;
    border-radius: var(--spacing-15);
    margin: var(--spacing-80) auto;
    min-height: auto;
  }

  article {
    padding: var(--spacing-25);
  }

  .recipe-img {
    border-radius: var(--spacing-075);
  }

  hgroup {
    padding: var(--spacing-25) 0 var(--spacing-20);
  }

  .recipe-preparation {
    margin: 0 0 var(--spacing-20);
  }

  .recipe-ingredients {
    padding: 0 0 var(--spacing-20);
  }

  .recipe-instructions {
    padding: 0 0 var(--spacing-20);
  }

  .nutritions {
    padding: 0;
  }

  footer {
    background-color: var(--stone-100);
    padding: var(--spacing-10) 0;
  }
}

/* Large screens: 1440px and up */
@media (min-width: 1440px) {
  main {
    max-width: 736px;
  }
}
