@font-face {
  font-family: 'Young Serif';
  src: url('/assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

@font-face {
  font-family: 'Outfit';
  src: url('/assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */

  --white: hsl(0, 0%, 100%);

  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);

  --brown-800: hsl(14, 45%, 36%);

  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);

  --font-size-paragraph: 16px;

  --font-family-serif: 'Young Serif' serif;
  --font-family-sans: 'Outfit' sans-serif;

  --font-weight-400: 400;
  --font-weight-600: 600;
  --font-weight-700: 700;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--stone-100);
  font-family: var(--font-family-serif);
  font-size: var(--font-size-paragraph);
  font-weight: var(--font-weight-400);
  color: var(--stone-600);
  height: 100vh;
}


article {
  background-color: var(--white);
  border-radius: 10px;
  padding: 2rem;
  max-width: 384px;
  max-height: 610px;
}

.recipe-img {
  display: block;
  max-width: 100%;
  border-radius: .75rem;
}

hr {
  background-color: var(--stone-150);
  border: 0;
  height: 1px;
  width: min(100%, calc(100vw - var(--spacing-20)));
  align-self: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
